ackermann-msgs==2.0.2
action-msgs==1.6.0
action-tutorials-interfaces==0.27.2
action-tutorials-py==0.27.2
actionlib-msgs==5.0.1
actuator-msgs==0.0.1
ament-cmake-test==2.0.7
ament-copyright==0.14.4
ament-cppcheck==0.14.4
ament-cpplint==0.14.4
ament-flake8==0.14.4
ament-index-python==1.5.2
ament-lint==0.14.4
ament-lint-cmake==0.14.4
ament-package==0.15.3
ament-pep257==0.14.4
ament-uncrustify==0.14.4
ament-xmllint==0.14.4
angles==1.16.0
builtin-interfaces==1.6.0
composition-interfaces==1.6.0
control-msgs==5.2.0
controller-manager==3.30.0
controller-manager-msgs==3.30.0
cv-bridge==3.5.0
demo-nodes-py==0.27.2
diagnostic-msgs==5.0.1
diagnostic-updater==4.1.0
domain-coordinator==0.11.2
example-interfaces==0.10.2
examples-rclpy-executors==0.18.2
examples-rclpy-minimal-action-client==0.18.2
examples-rclpy-minimal-action-server==0.18.2
examples-rclpy-minimal-client==0.18.2
examples-rclpy-minimal-publisher==0.18.2
examples-rclpy-minimal-service==0.18.2
examples-rclpy-minimal-subscriber==0.18.2
gazebo-msgs==3.7.0
generate-parameter-library-py==0.3.8
geometry-msgs==5.0.1
gps-msgs==2.0.4
image-geometry==3.5.0
interactive-markers==2.4.0
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
laser-geometry==2.5.0
launch==2.0.4
launch-ros==0.24.2
launch-testing==2.0.4
launch-testing-ros==0.24.2
launch-xml==2.0.4
launch-yaml==2.0.4
lifecycle-msgs==1.6.0
logging-demo==0.27.2
map-msgs==2.2.0
message-filters==4.7.1
nav-msgs==5.0.1
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1733688217547/work/dist/numpy-2.2.0-cp313-cp313-linux_x86_64.whl#sha256=cbe7c73f8da28f6df8be696bed0ca894ffd6040155d3adc2a1144e8096a9aa07
osrf-pycommon==2.1.2
pcl-msgs==1.0.0
pendulum-msgs==0.27.2
pyserial @ file:///home/conda/feedstock_root/build_artifacts/pyserial_1734140157046/work
python-qt-binding==1.2.4
qt-dotgraph==2.4.3
qt-gui==2.4.3
qt-gui-cpp==2.4.3
qt-gui-py-common==2.4.3
quality-of-service-demo-py==0.27.2
rcl-interfaces==1.6.0
rclpy==4.1.7
rcutils==6.2.4
resource-retriever==3.2.3
rmw-dds-common==2.0.1
ros-gz-interfaces==0.254.2
ros2action==0.25.8
ros2bag==0.22.8
ros2bag-mcap-cli==0.22.8
ros2bag-sqlite3-cli==0.22.8
ros2cli==0.25.8
ros2component==0.25.8
ros2controlcli==3.30.0
ros2doctor==0.25.8
ros2interface==0.25.8
ros2launch==0.24.2
ros2lifecycle==0.25.8
ros2multicast==0.25.8
ros2node==0.25.8
ros2param==0.25.8
ros2pkg==0.25.8
ros2run==0.25.8
ros2service==0.25.8
ros2topic==0.25.8
rosbag2-interfaces==0.22.8
rosbag2-py==0.22.8
rosgraph-msgs==1.6.0
rosidl-adapter==4.0.1
rosidl-cli==4.0.1
rosidl-cmake==4.0.1
rosidl-generator-c==4.0.1
rosidl-generator-cpp==4.0.1
rosidl-generator-py==0.18.0
rosidl-generator-type-description==4.0.1
rosidl-parser==4.0.1
rosidl-pycommon==4.0.1
rosidl-runtime-py==0.12.0
rosidl-typesupport-c==3.0.1
rosidl-typesupport-cpp==3.0.1
rosidl-typesupport-fastrtps-c==3.0.2
rosidl-typesupport-fastrtps-cpp==3.0.2
rosidl-typesupport-introspection-c==4.0.1
rosidl-typesupport-introspection-cpp==4.0.1
rpyutils==0.3.2
rqt-action==2.1.2
rqt-bag==1.3.5
rqt-bag-plugins==1.3.5
rqt-console==2.1.1
rqt-graph==1.4.3
rqt-gui==1.3.4
rqt-gui-py==1.3.4
rqt-msg==1.3.1
rqt-plot==1.2.3
rqt-publisher==1.6.3
rqt-py-common==1.3.4
rqt-py-console==1.1.1
rqt-reconfigure==1.3.4
rqt-service-caller==1.1.1
rqt-shell==1.1.1
rqt-srv==1.1.1
rqt-topic==1.6.1
scripts==3.7.0
sensor-msgs==5.0.1
sensor-msgs-py==5.0.1
service-msgs==1.6.0
shape-msgs==5.0.1
sros2==0.11.3
statistics-msgs==1.6.0
std-msgs==5.0.1
std-srvs==5.0.1
stereo-msgs==5.0.1
teleop-twist-keyboard==2.4.0
tf2-geometry-msgs==0.31.8
tf2-kdl==0.31.8
tf2-msgs==0.31.8
tf2-py==0.31.8
tf2-ros-py==0.31.8
tf2-sensor-msgs==0.31.8
tf2-tools==0.31.8
theora-image-transport==3.1.0
topic-monitor==0.27.2
trajectory-msgs==5.0.1
turtlesim==1.6.1
type-description-interfaces==1.6.0
unique-identifier-msgs==2.3.2
vision-msgs==4.1.1
visualization-msgs==5.0.1
xacro==2.0.11
